<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threego.algo.career.query.dao.CareerInfoMapper">
    
    <select id="findPosts" resultType="com.threego.algo.career.query.dto.PostSummaryResponseDto">
        SELECT
               A.ID AS id
             , A.TITLE AS title
             , A.MEMBER_ID AS memberId
             , B.NICKNAME AS nickname
             , C.NAME AS rankName
             , A.CREATED_AT AS createdAt
             , A.STATUS AS status
             , A.LIKE_COUNT AS likeCount
             , A.COMMENT_COUNT AS commentCount
          FROM CAREER_INFO_POST A
          JOIN MEMBER B ON A.MEMBER_ID = B.ID
          JOIN MEMBER_RANK C ON B.RANK_ID = C.ID
        <where>
            <if test="visibility != null">
                A.VISIBILITY = #{visibility}
            </if>
            <if test="status != null">
                AND A.STATUS = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND A.TITLE LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
         ORDER BY A.ID DESC
    </select>
    
    <select id="selectPost" resultType="com.threego.algo.career.query.dto.PostDetailResponseDto">
        SELECT
               A.ID            AS id
             , A.TITLE         AS title
             , A.CONTENT       AS content
             , A.IMAGE_URL     AS imageUrl
             , A.MEMBER_ID     AS memberId
             , B.NICKNAME      AS nickname
             , C.NAME          AS rankName
             , A.CREATED_AT    AS createdAt
             , A.VISIBILITY    AS visibility
             , A.STATUS        AS status
             , A.REJECT_REASON AS rejectReason
             , A.LIKE_COUNT    AS likeCount
             , A.COMMENT_COUNT AS commentCount
          FROM CAREER_INFO_POST A
          JOIN MEMBER B
            ON A.MEMBER_ID = B.ID
          JOIN MEMBER_RANK C
            ON B.RANK_ID = C.ID
         WHERE A.ID = #{postId}
        <if test="visibility != null">
            AND A.VISIBILITY = #{visibility}
        </if>
    </select>

</mapper>