<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threego.algo.algorithm.query.dao.AlgoMapper">
    <resultMap id="AlgoRoadmapResultMap" type="com.threego.algo.algorithm.command.domain.aggregate.AlgoRoadmap">
        <id property="id" column="ID"/>
        <result property="title" column="TITLE"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="order" column="ORDER"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="questionCount" column="QUESTION_COUNT"/>
    </resultMap>

    <select id="selectAllAlgoRoadmaps" resultMap="AlgoRoadmapResultMap">
        SELECT
               A.ID
             , A.TITLE
             , A.DESCRIPTION
             , A.`ORDER`
             , A.CREATED_AT
             , A.UPDATED_AT
             , A.QUESTION_COUNT
          FROM ALGO_ROADMAP A
         ORDER BY A.`ORDER`;
    </select>

    <select id="selectAlgoPosts" resultType="com.threego.algo.algorithm.query.dto.AlgoPostSummaryResponseDTO">
        SELECT
               A.ID              AS postId
             , A.ROADMAP_ID      AS roadmapId
             , A.MEMBER_ID       AS memberId
             , B.NICKNAME        AS nickname
             , A.TITLE           AS title
             , A.CREATED_AT      AS createdAt
             , A.UPDATED_AT      AS updatedAt
             , A.LIKE_COUNT      AS likeCount
             , A.COMMENT_COUNT   AS commentCount
             , A.VISIBILITY      AS visibility
        <if test="memberId != null">
             , EXISTS (SELECT 1
                         FROM LIKES B
                        WHERE B.ALGO_POST_ID = A.ID
                          AND B.MEMBER_ID = #{memberId}
                      ) AS isLiked
        </if>
             , D.QUIZ_COUNT AS quizCount
          FROM ALGO_POST A
          LEFT JOIN MEMBER B
            ON A.MEMBER_ID = B.ID
          LEFT JOIN (SELECT
                            C.ALGO_POST_ID
                          , COUNT(C.ID) AS QUIZ_COUNT
                       FROM ALGO_QUIZ_QUESTION C
                      GROUP BY C.ALGO_POST_ID) AS D
            ON D.ALGO_POST_ID = A.ID
        <where>
            <if test="keyword != null and keyword != ''">
                (A.TITLE LIKE CONCAT('%', #{keyword}, '%') OR A.CONTENT LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="roadmapId != null">
                AND A.ROADMAP_ID = #{roadmapId}
            </if>
            <if test="visibility != null and visibility != ''">
                AND A.VISIBILITY = #{visibility}
            </if>
        </where>
         ORDER BY A.ID ASC;
    </select>
</mapper>